.modal-bg {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  width: 330px;
  background: white;
  padding: 20px;
  border-radius: 14px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 8px; right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.payment-options {
  display: flex;
  gap: 10px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}

.form-section input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
}

.form-section button {
  padding: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
}

/* Modal Animation */
.animate-popup {
  animation: pop 0.4s ease-out;
}

@keyframes pop {
  from { transform: scale(0.6); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}


.cvv-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cvv-box input {
  flex: 1;
}

.cvv-toggle {
  padding: 8px 12px;
  border: none;
  background: #4338ca;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
