/* Background */
.main-bg {
  background: linear-gradient(120deg,#26b4ca, #55e33d );
  min-height: 100vh;
  padding-bottom: 50px;
}

/* NAVBAR */
.navbar {
  background: white;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #111;
}

.nav-search {
  width: 40%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 8px;
}

.cart-count {
  background: black;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
}

/* Category Buttons */
.category-bar {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.category-bar button {
  padding: 8px 14px;
  border: none;
  background: #4338ca;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* Loader */
.loader {
  margin: auto;
  border: 6px solid #ddd;
  border-top: 6px solid #4338ca;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

/* Product Grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 20px;
  padding: 0 30px;
}

.product-card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  height: 130px;
  object-fit: contain;
}

.product-card button {
  background: black;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  margin-top: 10px;
}

/* Cart */
.cart-section {
  background: white;
  padding: 20px;
  margin: 20px;
  border-radius: 14px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #f9fafb;
  padding: 12px;
  border-radius: 10px;
  margin: 10px 0;
}

.cart-item img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.remove-btn {
  margin-left: auto;
  background: crimson;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
}

.total-btn {
  background: green;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
}
.qty-box {
  display: flex;
  gap: 10px;
  align-items: center;
  background: #f3f4f6;
  padding: 6px 10px;
  border-radius: 8px;
}

.qty-box button {
  background: black;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.qty-box span {
  font-size: 18px;
  font-weight: bold;
}
